.text-container {
    margin-left: 15%;
    margin-top: 10%;
}

.h1 {
    display: flex;
    justify-content: center;
}

#count {
    color: grey;
}

#start {
    border-radius: 0.2rem;
    border: grey solid 2px;
    font-weight: 400;
}

#stop {
    border-radius: 0.2rem;
    border: grey solid 2px;
    font-weight: 400;
}

@media only screen and (max-width: 768px) {}